{"ts":__TS_REQ__,"uid":"__UID__","id_orig_h":"192.0.2.10","id_orig_p":50200,"id_resp_h":"192.0.2.20","id_resp_p":502,"is_orig":true,"source_h":"192.0.2.10","source_p":50200,"destination_h":"192.0.2.20","destination_p":502,"tid":7,"unit":1,"func":"READ_HOLDING_REGISTERS","request_response":"REQUEST","address":1,"quantity":1}
{"ts":__TS_RESP__,"uid":"__UID__","id_orig_h":"192.0.2.10","id_orig_p":50200,"id_resp_h":"192.0.2.20","id_resp_p":502,"is_orig":false,"source_h":"192.0.2.20","source_p":502,"destination_h":"192.0.2.10","destination_p":50200,"tid":7,"unit":1,"func":"READ_HOLDING_REGISTERS","request_response":"RESPONSE","quantity":1,"values":"170"}
