{"ts":__TS_REQ__,"uid":"__UID__","id_orig_h":"192.0.2.30","id_orig_p":50300,"id_resp_h":"192.0.2.40","id_resp_p":102,"is_orig":true,"source_h":"192.0.2.30","source_p":50300,"destination_h":"192.0.2.40","destination_p":102,"rosctr_code":1,"rosctr_name":"Job-Request","pdu_reference":25,"function_code":"0x04","function_name":"Read Variable"}
{"ts":__TS_RESP__,"uid":"__UID__","id_orig_h":"192.0.2.30","id_orig_p":50300,"id_resp_h":"192.0.2.40","id_resp_p":102,"is_orig":false,"source_h":"192.0.2.40","source_p":102,"destination_h":"192.0.2.30","destination_p":50300,"rosctr_code":3,"rosctr_name":"ACK-Data","pdu_reference":25,"function_code":"0x04","function_name":"Read Variable","error_class":"No error","error_code":"0x00"}
